<h1>Listing ressources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ressources.each do |ressource| %>
  <tr>
    <td><%= ressource.name %></td>
    <td><%= ressource.capacity %></td>
    <td><%= link_to 'Show', ressource %></td>
    <td><%= link_to 'Edit', edit_ressource_path(ressource) %></td>
    <td><%= link_to 'Destroy', ressource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ressource', new_ressource_path %>
